body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color:teal;
    font-size: 48px;
    margin-bottom: 20px;

}

p {
    color: cadetblue;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}