body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 5px;
  width: 200px;
}

button {
  padding: 5px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 5px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
